
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato';
    src: url('../font/lato_400.woff') format('woff');
}

*{
  font-family: Lato;
}

body{
  background-color: #1f711f;
  -webkit-app-region: drag;
  text-align: center;
  margin: 5%;
}

.drop{
  border: 3px dashed black;
}

/*header{
  width: 100%;
  height: 12px;
  padding: 12px 9px;
  box-sizing: border-box;
}*/

#file-list{
  margin-top: 10px;
}
/*
#file-list-item{
  border: 2px black; 
}*/

/**
 * Error.html
 */
.errored{
  color: white;
  font-size: 40px;
}